@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 51, 51, 51;
	--background-start-rgb: 244, 244, 249;
	--background-end-rgb: 232, 235, 238;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to right, transparent, rgb(var(--background-end-rgb))),
		rgb(var(--background-start-rgb));
}

::-webkit-scrollbar-track {
	background-color: rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: rgb(var(--background-end-rgb));
}

::-webkit-scrollbar-thumb {
	background-color: rgb(var(--foreground-rgb));
	border-radius: 8px;
}
